<h1>New datapoint</h1>

<%= simple_form_for [@goal, @datapoint] do |form| %>
  <%= form.input :amount %>
  <%= form.input :date %>
  <%= form.button :submit, label: "submit" %>
<%- end %>

<%= simple_form_for @goal do |f| %>
  <%= f.simple_fields_for :datapoints do |builder| %>
    <%= render 'datapoint_fields', :f => builder %>
    <div class="links">
      <%= link_to_add_association 'add data', f, :datapoints %>
    </div>
  <% end %>
  <%= f.submit "Submit" %>
<% end %>

<%= link_to 'Back', goal_path(@goal) %>
