<h1>New datapoint</h1>

<%= simple_form_for [@goal, @datapoint] do |form| %>
  <%= form.input :amount %>
  <%= form.input :date %>
  <%= form.button :submit, label: "submit" %>
<%- end %>

<%= link_to 'Back', goal_path(@goal) %>
