<%= link_to('Create new goal', new_goal_path) %>

<h3>Goals</h3>
<ul>
  <%- @goals.each do |goal| %>
    <li>
      <%= link_to "%{goal}" % {:goal => goal.objective}, goal_path(goal) %>
      <% if goal.weekly_frequency.present? %>
        <% unit = "times" %>
        <% amount = goal.weekly_frequency %>
      <% else %>
        <% unit = "minutes" %>
        <% amount = goal.weekly_quantity %>
      <% end %>
      <%= "#{goal.last_week_of_data}/#{amount} #{unit} this week 
          (#{goal.last_week_of_data*goal.weight}/#{goal.target_score} points)" %>
    </li>
  <%- end %>
</ul>

<%= "Your score today is #{Goal.score(current_user)}" %>
<p>
<%= "Your target score is #{Goal.target_score(current_user)}" %>
</p>
<%= "You have a bonus of #{Goal.bonus_score(current_user)}" %>

