<% freq = @goal.weekly_frequency.present? %>
<% if freq %>
  <% unit = "times" %>
<% else %>
  <% unit = "minutes" %>
<% end %>
<h1><%= @goal.objective %></h1>
<center><%- if freq %>
  <%= "#{@goal.weekly_frequency} times a week" %>
<%- else %>
  <%= "#{@goal.weekly_quantity} minutes per week" %>
<%- end %>
<p>
<font size="1"><%= "(worth #{@goal.weight} points)" %></font>
</p>
</center>
<h4>Datapoints</h4>

<%= form_for @goal, class: "form-inline" do |f| %>
  <div id="datapoints">
    <%= f.fields_for :datapoints do |builder| %>
      <%= render 'datapoint_fields', :f => builder %>
    <% end %>
    <div class="links">
      <%= link_to_add_association 'add data', f, :datapoints %>
     </div>
  </div>
  <%= f.submit "Submit" %>
<% end %>


<%= "Your total so far this week is: #{@goal.last_week_of_data}" %>
<p>
<% if @goal.met_this_week? %>
  <%= "You have met your goal this week" %>
<% else %>
  <%= "You need to #{@goal.objective} #{@goal.gap} #{unit} today to meet your goal" %>
<% end %>
</p>
<%= link_to "Add data", new_goal_datapoint_path(@goal) %>
<%= link_to "Edit goal", edit_goal_path(@goal) %>
<%= button_to "Destroy goal", goal_path(@goal), method: :delete, data: { confirm: "Delete this goal?" }  %>