<% freq = @goal.weekly_frequency.present? %>
<% if freq %>
  <% unit = "times" %>
<% else %>
  <% unit = "minutes" %>
<% end %>
<h3><%= @goal.objective %></h3>
<%- if freq %>
  <%= "#{@goal.weekly_frequency} times a week" %>
<%- else %>
  <%= "#{@goal.weekly_quantity} minutes per week" %>
<%- end %>

<h4>Datapoints</h4>
<p>
<% @goal.datapoints.each do |datapoint| %>
  <p><%= datapoint.date.strftime("%-m/%-d/%y") %>
  : 
  <%= datapoint.amount %></p>
<% end %>

<%= "Your total so far this week is: #{@goal.last_week_of_data}" %>
<p>
<% if @goal.met_this_week? %>
  <%= "You have met your goal this week" %>
<% else %>
  <%= "You need to #{@goal.objective} #{@goal.gap} #{unit} today to meet your goal" %>
<% end %>
</p>
<%= link_to "Add data", new_goal_datapoint_path(@goal) %>
<%= link_to "Edit goal", edit_goal_path(@goal) %>
<%= button_to "Destroy goal", goal_path(@goal), method: :delete, data: { confirm: "Delete this goal?" }  %>

<p><%= link_to 'Home', root_path %></p>
<p><%= link_to 'Your goals', goals_path %></p>
<%= link_to 'Create new goal', new_goal_path %>