<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "Track App", '#'%>
      <nav>
        <ul class="nav pull-right">
          <li><%= link_to "Home", root_path %></li>
          <% if current_user.present? %>
            <li><%= "Signed in as #{current_user.email}" %></li>
            <li><%= link_to "Log out", destroy_user_session_path, :method => :delete %></li>
          <% else %>
            <li><%= link_to "Sign in", new_user_session_path %></li>
          <% end %>          
        </ul>
      </nav>
    </div>
  </div>
</header>
